.cl{
    color: blue;
    background-image: url(https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjrmvHu5eLdAhWNM94KHY0SCNYQjRx6BAgBEAU&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DTufKf5Um3Zs&psig=AOvVaw0pH6xKelzijWjq31V4kZYG&ust=1538399230244429);
    background-size: auto;
    position: fixed;
}